body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.post-list{
	width: 95%;
	margin-bottom: 20px;
	list-style-type: none;
}

.count {
	color: #acb0b0;
	font-size: 11px;
	margin-left: 10px;
}

.open {
	position: fixed;
	right: 24px;
	bottom: 24px;
	margin-bottom: 0;
	z-index: 998;
}

.paper{
  height: auto;
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  display: block
}

.post-author{
	color: #acb0b0;
	font-size: 15px;
}

.post-title{
	font-size: 20px;
}

.comment-section{
	margin: 0 15px 5px 15px;
}

.comment-author{
	color: #acb0b0;
	font-size: 15px;
}

.comment-body{
	font-size: 15px;
}

.comment-vote-score{
	color: #acb0b0;
	font-size: 12px;
}

.add-post-form{
	margin: 0 20px 20px 20px;
}

.add-post-form-button{
	margin-right: 20px;
}
